<h1>Notes</h1>
<% if current_user.role == 'teacher' %>
  <br>
  <%= link_to 'Add Notes', new_course_note_path%>
  <br>
<% end %>
<% if @notes.size != 0 %>
  <table class="table table-bordered table-striped">
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
    <% @notes.each do |note| %>
      <tr>
        <td><%= link_to note.name, course_note_path(id: note.id) %></td>
        <td><%= link_to note.description, course_note_path(id: note.id) %></td>
      </tr>
    <% end %>
  </table>
<% end %>
