<h1>Notes</h1>
<% if current_user.role == 'teacher' %>
  <br>
  <%= link_to 'Add Notes', new_course_note_path(course_id: params[:course_id]), class:'btn btn-danger' %>
  <br>
  <br>
  <br>
<% end %>
<% if @notes.size != 0 %>
  <div class="card">
    <% @notes.each do |note| %>
      <div class="card-body">
        <div class='card-title display-4'><%= note.name.capitalize %></div>
        <div class='card-text display-6'><%= note.description %><br><br>
        <%= link_to "Go to #{note.name}", course_note_path(id: note.id), class:'btn btn-primary' %>
      </div>
    <% end %>
    </div>
  </table>
<% else %>
  <h1>There is no notes avaliable</h1>
<% end %>
