<h1> Test Results </h1>
<% if @testresult.length != 0 %>
  <div class='card-group'>
    <% @testresult.each do |testresult| %>
      <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <b>
            <% if current_user.role == 'teacher' %>
              <li class="list-group-item"><%= testresult.student_id %></li>
            <% end %>
          </b>
          <li class="list-group-item"><b>Test Name: </b>'<%= testresult.test.name %>'</li>
          <li class="list-group-item"><b>Score: </b>'<%= testresult.score %>'</li>
          <% if current_user.role == 'teacher' %>
            <li class="list-group-item">
              <%= link_to 'Delete', testresult_destroy_path(testresult.id), data: { turbo_confirm: 'Are You Sure', turbo_method: :delete}, class:'btn btn-primary'%></li>
          <% end %>
        </ul>
      </div>
      <br>
    <% end %>
  </div>
<% else %>
  <h1> Nothing here!!!</h1>
<% end  %>
