<h1 style='text-align:center'> Test Results </h1><br>
<% if @testresult.length != 0 %>
      <div class="cards ui raised text container segment", style='width:500%'>
    <% @testresult.each do |testresult| %>
     <div class="card w-75 mb-3">
      <div class="card-body">
            <% if current_user.role == 'teacher' %>
            <% student = Student.find(testresult.student_id) %>
              <h4 class="card-title"><b> Student: </b><%= student.name.capitalize %> </h4><br>
            <% end %>
          <h5 class="class-text"><b>Test Name: </b>'<%= testresult.test.name %>'</h5><br>
          <h5 class="class-text"><b>Score: </b><%= testresult.score %></h5><br>
          <% if current_user.role == 'teacher' %>
            <li class="list-group-item">
              <%= link_to 'Delete', testresult_destroy_path(testresult.id), data: { turbo_confirm: 'Are You Sure', turbo_method: :delete}, class:'btn btn-primary'%></li>
          <% end %>
        </div>
        </div><br>
      <br>
    <% end %>
      </div>
<% else %>
  <h1> Nothing here!!!</h1>
<% end  %>
