<h1 > Test Results </h1>
<br>
<% if !@testresult.nil? %>
  <% @testresult.each do |testresult| %>
    <div class="card">
      <div class="card">
        <% if current_user.role == 'teacher' %>
          <div class="card-header">
            <% stud = Student.find(testresult.student_id) %>
            <b>Student</b><%= stud.name %>
          </div>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><b>Test:   </b><%= testresult.test.name %></h5>
          <p class="card-text"><b>Score:  </b><%= testresult.score %></p>
          <% if current_user.role == 'teacher' %>
            <%= link_to 'Delete', testresult_destroy_path(testresult.id), data: { turbo_confirm: 'Are You Sure', turbo_method: :delete}, class:'btn btn-primary'%>
          <% end %>
        </div>
      </div>
    </div>
    <br>
  <% end %>
<% else %>
  <h1> Nothing here!!!</h1>
<% end  %>
