<h1> Test </h1>
<% if current_user.role == 'teachers' %>
  <p> <%= link_to 'Questions', course_test_question_index_path(test_id: @test.id) %></p>
  <p><%= link_to 'Back', { controller: 'test', action: 'index' }%></p>
<% else %>
  <h1> Nothing here!!!</h1>
<% end %>
