<h3>Courses</h3>
<% if current_user.role == 'teacher' %>
  <div>
    <%= link_to 'Add Course', new_course_path %>
  </div>
  <br>
<% end %>
<% if Course.exists? %>
  <table class="table table-bordered table-striped">
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.name.to_s , course_path(course_id: course.id, id: course.id) %></td>
        <br>
        <td><%= link_to course.description.to_s , course_path(course_id: course.id, id: course.id) %></td>
      </tr>
    <% end %>
  <% end  %>
</table>
